.app{
  font-family: Arial, sans-serif;
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input {
  width: 90%;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 5px;
  margin: 10px;
  color: peru;
}
